<table class="table table-bordered table-inverse">
  <tr>
    <th colspan="3">
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" [ngModel]="keyword" (ngModelChange)="onKeywordChange($event)" name="keyword">
      </form>
    </th>
  </tr>
  <tr>
    <th>Id</th>
    <th>No</th>
    <th>Name</th>
  </tr>
  <tr *ngFor="let p of products$ | async">
    <td>{{p.id}}</td>
    <td>{{p.no}}</td>
    <td>{{p.name}}</td>
  </tr>
</table>
